# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data / results lourds
data/*
results/*
!data/.gitkeep
!results/.gitkeep

# OS / IDE
.DS_Store
.vscode/
.idea/

# Secrets
.env
*.key
